@use '@/assets/styles/mixins' as *;

.meetContextHeader {
  margin-top: 151px;
  margin-bottom: 56px;
  max-width: 510px;
  margin-inline: auto;
  text-align: center;

  @include m {
    margin-top: 123px;
    margin-bottom: 48px;
    padding-inline: 20px;
  }
}

.mainTitle {
  margin-bottom: 16px;
  font-size: 40px;
  color: var(--title);
  letter-spacing: -0.4px;

  @include m {
    font-family: 'testSignifier' !important;
    font-weight: 500;
    line-height: 48px;
  }
}

.text {
  color: var(--text);
  line-height: 27px;
  font-size: 17px;
}