@use '@/assets/styles/mixins' as *;

.logoWrapper {
  display: flex;
  gap: 76px;
  margin-top: 160px;
  overflow: hidden;
  
  @include m {
    gap: 62px;
    margin-top: 40px;
  }
}

.item {
  &:last-child {
    margin-right: 76px;
  }
  &:first-child {
    margin-left: 16px;
  }
}