@use '@/assets/styles/mixins' as *;

.wrapper {
  position: relative;
  overflow: hidden;  
  border: 0.5px solid #d0d0d1;
  border-radius: 4px;
  background: linear-gradient(180.00deg, rgb(0, 86, 115),rgb(0, 48, 64) 100%);
  margin-bottom: 112px;
  
  @include t {
    margin-inline: 20px;
  }
  
  @include m {
    margin-bottom: 80px;    
  }
}

.content {
  width: 45%;
  max-width: 458px;
  padding: 64px;
  color: white;
  
  @include t {
    padding: 32px;
  }
  
  @include m {
    padding: 20px;
    max-width: 100%;
    width: 100%;
    max-width: unset;
  }
}

.title {
  font-size: 40px;
  font-family: 'testSignifier';
  font-weight: 500 !important;  
  line-height: 48px;
  letter-spacing: -0.4px;
  margin-bottom: 16px;
}

.text {
  font-size: 16px;
  line-height: 24px;
  opacity: 64%;
  margin-bottom: 32px;
}

.btn {
  width: 108px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  color: #003040;
  font-weight: 500;
}

.img {
  position: absolute;  
  right: 0;
  width: 55%;
  height: auto;
  bottom: 0;
  max-height: 90%;
  object-fit: cover;
  
  @include m  {
    max-height: unset;
  }
}

.imgMobile {
  position: static;
  margin-left: 20px;
  width: 100%;

  @include t {
    max-width: calc(100% - 20px );
    height: auto;
  }
}   