@font-face {
    font-family: 'testSignifier';
    src: url('/fonts/TestSignifier-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: 500;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('/fonts/SuisseIntl-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('/fonts/SuisseIntl-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntlBook';
    src: url('/fonts/SuisseIntl-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
